doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/pico.min.css")
  body
    nav.container-fluid
      ul
        li
          strong
            a(href="/") Home
      ul
        if currentUser
          unless currentUser.isMember
            li
              a.secondary(href="/user/join-club", role="button") Join club
          li
            a.secondary(href="/user/log-out") Log out
        else
          li
            a(href="/user/sign-up") Sign up
          li
            a(href="/user/log-in", role="button") Log in
    main.container
      block content
    footer
