extends layout
include mixins/errorlist.pug

block content
  h1= title
  form(action="", method="post") 
    label(for="email") E-Mail
      input#email(
        type="email",
        name="email",
        required,
        value=user ? user.email : ""
      ) 

    label(for="password") Password
      input#password(type="password", name="password", required)

    button(type="submit") Submit

  +errorlist(errors)
  if hasMessages
    +errorlist(messages)
